---
---

@import "{{ site.theme }}";
@import "https://fonts.googleapis.com/css?family=EB+Garamond:300,400,500";

body {
  font-family: 'EB Garamond', sans-serif;
  background: #0c7c5c;
  color: white;
}

h1 {
  font-size: 4rem;
  color: white;
}

h2 {
  font-size: 1.5rem;
  color: white;
  font-weight: 800;
}

p {
  font-size: 1.6rem;
}

a {
  color: #d7d5d5;
  font-size: 1.6rem;

  &:hover,
  &:focus {
    color: #bebebe;
    font-weight: normal;
  }
}

small {
  color: white;
  font-size: 18px;
}
